streamlit
langchain-core
langchain-community
langchain-google-genai
langgraph
langchain-text-splitters
duckduckgo-search
faiss-cpu
pypdf
python-dotenv
requests
google-api-core
langgraph-checkpoint-sqlite